.visor-block {
	border-top: 1px solid #ccc;
	padding-top: 12px;
}

.visor-block h3 {
	font-size: 16px;
	font-weight: normal;
}

.modifiers {
	color: #444;
}

.property, .method {
	color: #006aeb;
}

.properties {
	color: #444;
}

.param {
	color: #ca8a04;
}

.value {
	color: green;
}

.comment {
	color: #666;
}

.visor-block .comment {
	margin-top: -15px;
	padding-top: 0px;
}

code {
	color: #000;
}

div.syntax {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc !important;
	background: #fff !important;
}
