.visor-head th {
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

.visor-class td {
	padding: 5px;
	border-top: 1px solid #ccc;
}

.visor-block {
	border-top: 1px solid #ccc;
	padding-top: 12px;
}

.visor-block h3 {
	font-size: 16px;
	font-weight: normal;
}

.visor-sidebar ul {
	margin-bottom: 2px;
}

.visor-sidebar .visor-open>a {
	font-weight: bold;
}

.modifiers {
	color: #444;
}

.property, .method {
	color: #006aeb;
}

.properties {
	color: #444;
}

.param {
	color: #ca8a04;
}

.value {
	color: green;
}

.comment {
	color: #666;
}

.visor-block .comment {
	margin-top: -15px;
	padding-top: 0px;
}

code {
	color: #000;
}

div.syntax {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc !important;
	background: #fff !important;
}

	.syntax-theme-base .syntax .function, .syntax-theme-base .syntax .type {
		color: #006aeb !important;
	}

	.syntax-theme-base .syntax .keyword, .syntax-theme-base .syntax .access {
		color: #444 !important;
	}

	.syntax-theme-base .syntax .string, .syntax-theme-base .syntax .symbol {
		color: green !important;
	}

	.syntax-theme-base .syntax .variable {
		color: #ca8a04 !important;
	}

	.syntax-theme-base .syntax .comment {
		color: #888 !important;
	}
