<script>
$(function ($) {
	var syntax_root = '/apps/visor/js/jquery-syntax/';
	if ($('pre>code').length) {
		$.getScript (syntax_root + 'jquery.syntax.min.js', function () {
			$.syntax ({root: syntax_root, blockSelector: 'pre>code', blockLayout: 'plain'});
		});
	}
});
</script>

<div class="comment">{{ class_comment|none }}</div>

<h2>{"Properties"}</h2>

{% if property_count === 0 %}
<p>{"No properties."}</p>
{% end %}

{% foreach properties %}
<div class="visor-block">
	<h3><code>{{ loop_value['title']|none }}</code></h3>
	<div class="comment">{{ loop_value['comment']|none }}</div>
</div>
{% end %}


<h2>{"Methods"}</h2>

{% if method_count === 0 %}
<p>{"No methods."}</p>
{% end %}

{% foreach methods %}
<div class="visor-block">
	<h3><code>{{ loop_value['title']|none }}</code></h3>
	<div class="comment">{{ loop_value['comment']|none }}</div>
</div>
{% end %}
